# Project 2 - Singapore Housing Data and Kaggle Challenge

## Part 2 - Feature Engineering

## 1. Feature Engineering

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Importing data.
df = pd.read_csv('../data/01_cleaning_and_eda.csv')

For feature engineering, we will look to drop columns that we find are unlikely to have a significant impact on the target variable, as well as columns that have a close relationship with another (leading to possible multicollinearity).

Similarly, we will look to create columns which may have a better representation of the resale price.

### 1.1 Creating Features

The column 'hdb_age' refers to the current age of the HDB. However, it might make more sense to create a new column called 'age_when_sold', which is 'Tranc_Year' minus 'lease_commence_date', as the age when it was sold might reflect the housing price better.

In [3]:
df['age_when_sold'] = df['tranc_year'] - df['lease_commence_date']

In [4]:
# Ensuring that the 'age_when_sold' column is accurate
df[['age_when_sold','tranc_year','lease_commence_date']].head()

   age_when_sold  tranc_year  lease_commence_date
0             10        2016                 2006
1             25        2012                 1987
2             16        2013                 1997
3             20        2012                 1992
4             30        2017                 1987

### 1.2 Dropping other columns

In Notebook 01, we identified the columns that we felt were not completely correlated to other columns. Now, we will also drop a number of columns that we feel little to no value, due to the presence of other columns. 

We will be dropping the following columns:
| No. | Column(s)                                | Reason                                                                                                                                      |
|-----|------------------------------------------|---------------------------------------------------------------------------------------------------------------------------------------------|
| 1   | tranc_yearmonth, tranc_month, tranc_year | I will represent the time of sale by 'age_when_sold' and drop these three to prevent multicollinearity.                                     |
| 2   | lease_commence_date                      | To prevent multicollinearity with 'age_when_sold', I will drop it.                                                                          |
| 3   | town                                     | The data is similar to 'planning_area', but we will choose 'planning_area' as it is more granular without being too granular.               |
| 4   | flat_type                                | We will use 'full_flat_type'.                                                                                                               |
| 5   | block                                    | The number of the block is useless without more details.                                                                                    |
| 6   | street_name                              | The data is too granular and creating 547 dummies would not make sense. Location would be better represented by the column 'planning_area'. |
| 7   | storey_range                             | The columns 'mid_storey', 'lower', 'upper', 'mid' is just a representation of 'storey_range'. Perhaps we can drop the latter.               |
| 8   | flat_model                               | It does not make sense without the context of 'flat_type'. We will keep 'full_flat_type' instead.                                           |
| 9   | address                                  | It is too granular with 9013 dummies. Location would be better represented by the column 'planning_area'.                                   |
| 10  | postal                                   | It is too granular with 8982 dummies. Location would be better represented by the column 'planning_area'.                                   |
| 11  | mrt_name                                 | They give a good understanding of the location, but this can be done by 'planning_area'.                                                    |
| 12  | bus_stop_name                            | The strings do not give a good understanding of the location.                                                                               |

In [5]:
df.drop(columns = ['tranc_yearmonth', 'tranc_month','tranc_year', 'lease_commence_date',
                   'town', 'flat_type', 'block', 'street_name', 'storey_range', 'flat_model', 
                   'address', 'postal', 'mrt_name', 'bus_stop_name'], inplace = True)

Let's have a look at the remaining columns.

In [6]:
pd.set_option('display.max_columns', None)
df.head()

,floor_area_sqm,resale_price,mid_storey,full_flat_type,max_floor_lvl,commercial,market_hawker,multistorey_carpark,precinct_pavilion,total_dwelling_units,planning_area,mall_nearest_distance,hawker_nearest_distance,hawker_food_stalls,hawker_market_stalls,mrt_nearest_distance,bus_interchange,mrt_interchange,bus_stop_nearest_distance,pri_sch_nearest_distance,pri_sch_name,vacancy,pri_sch_affiliation,sec_sch_nearest_dist,sec_sch_name,cutoff_point,affiliation,age_when_sold
0,90.0,680000.0,11,4 ROOM Model A,25,0,0,0,0,142,Kallang,1094.090418,154.753357,84,60,330.083069,0,0,29.427395,1138.633422,Geylang Methodist School,78,1,1138.633422,Geylang Methodist School,224,0,10
1,130.0,665000.0,8,5 ROOM Improved,9,0,0,0,0,112,Bishan,866.941448,640.151925,80,77,903.659703,1,1,58.207761,415.607357,Kuo Chuan Presbyterian Primary School,45,1,447.894399,Kuo Chuan Presbyterian Secondary School,232,0,25
2,144.0,838000.0,14,EXECUTIVE Apartment,16,0,0,0,0,90,Bukit Batok,1459.579948,1762.082341,84,95,1334.251197,1,0,214.747860,498.849039,Keming Primary School,39,0,180.074558,Yusof Ishak Secondary School,188,0,16
3,103.0,550000.0,3,4 ROOM Model A,11,1,0,0,0,75,Bishan,950.175199,726.215262,32,86,907.453484,1,1,43.396521,389.515528,Catholic High School,20,1,389.515528,Catholic High School,253,1,20
4,83.0,298000.0,2,4 ROOM Simplified,4,0,0,0,0,48,Yishun,729.771895,1540.151439,45,0,412.343032,0,0,129.422752,401.200584,Naval Base Primary School,74,0,312.025435,Orchid Park Secondary School,208,0,30

In [7]:
df.shape

(149772, 28)

We have cut it down to 28 columns.

## 2. Exporting File

Exporting the file to use in Notebook 03.

In [8]:
df.to_csv('../data/02_feature_engineering.csv', index = False)